@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
.nav-title,.nav-title a{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    font-size: 1.15rem;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
    line-height: 26px;
}
.nav-container h1{
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}
/* shared style */
.max-width-set{
 margin: 0 auto;
 max-width: 1440px;
}
.btn{
    background-color: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    padding: 21px 25px;
    border: none;
    border-radius: 5px;
}
/* shared style end */
.banner-info{
    margin: 0 auto;
    max-width: 862px;
   text-align: center;
   margin-bottom: 50px;
}
.banner-info h1{
    font-size: 4rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 25px;
}
.banner-info p{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
    line-height: 26px;
}
.banner-container img{
  width: 100%;
  margin-bottom: 50px;
  
}
.quick-list-container{
     display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 85px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;

}
.quick-list-info h1{
    font-size: 2.8 rem;
    font-weight: 600;
    color: #FF900E;
}
.quick-list{
    color: rgba(114, 114, 114, 1);
}
.of-our{
    color: rgba(19, 19, 19, 1);
}
.quick-list-info p{
    font-size: 1 rem;
    color: rgba(114, 114, 114, 1);
    line-height: 26px;
    width: 537px;
}
.feature-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 54px;
    margin-top: 130px;
}
.feature-info h1{
    border-left: 3px solid #FF900E;
    font-size: 2.8 rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    width: 468px;
    padding-left: 20px;
}
.feature-info p{
    font-size: 1rem;
    line-height: 26px;
    color: rgba(114, 114, 114, 1);
    width: 568px;
}
.featured-card{
    width: 568px;
    padding: 30px 33px;
    border-radius: 5px;
    box-shadow:   0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.btn-div{
    margin-left: -100px;
    margin-top: -100px;
}
.btn2{
    padding: 42px 42px;
    background-color: #FF900E;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.exp{
    font-size: 1.25rem;
}
/* responsive design for mobile and tablet  */
@media screen and (max-width: 576px){
    .nav-title, .nav-container{
        flex-direction: column;
        gap: 10px;
    }
   .quick-list-container,.quick-list-img{
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: fit-content;
   }
   .quick-list-info{
    text-align: center;
   }
   .quick-list-info p{
    width: 100%;
   }
}